---
apiVersion: v1
kind: Secret
type: kubernetes.io/dockerconfigjson
metadata:
  name: pull-secret
  namespace: {{ cluster_name }}
stringData:
  .dockerconfigjson: '{{ lookup('file', pull_secret_path) }}'